<nav class="navbar navbar-dark bg-dark">
  <div class="left-navbar">
    <%= image_tag "main-avatar.jpg", class: "avatar-large" %>
    <span class = "navbar-brand font-weight-bold">TIENDA DEL CHAVO</span>
  </div>
  <div class="right-navbar">
    <%= link_to('Añadir un refresco', new_cocktail_path, class: "btn btn-outline-info") %>
    <%= link_to('Volver a la lista', cocktails_path, class: "btn btn-outline-secondary") %>
  </div>
</nav>


<section>
  <% if @cocktail.photo.attached?%>
    <section class="background-image" style="height: 420px; background-image: url('<%= cl_image_path @cocktail.photo.key, height: 420, width: 1080, crop: :fill %>')">
      <div class="card-category img-fluid">
        <h1 class="text-success"style="font-size: 80px;"><%=@cocktail.name.capitalize%></h1>
      </div>
    </section>
  <% else %>
    <section class="background-image" style="opacity: 40%; height: 420px; background-image: url('<%= image_path "main-avatar.jpg", height: 420, width: 1080, crop: :fill %>')">
      <div class="card-category img-fluid">
        <h1 class="text-success"style="font-size: 80px;"><%=@cocktail.name.capitalize%></h1>
      </div>
    </section>
  <% end %>
</section>

<section>
  <div class="container mt-4 text-success">
    <div class="row">
      <div class="col-7">
        <div class="bg-light p-3">
          <h3 class=" font-weight-bold">Descripción</h3>
          <p class="font-italic"><%= @cocktail.description %></p>
        </div>
      </div>
      <div class="col-5">
        <div class="bg-light p-3">
          <h3 class=" font-weight-bold">Ingredientes</h3>
          <ul class="list-unstyled">
          <% @cocktail.doses.each do |dose| %>
          <li><%= dose.description %> - <%= dose.ingredient.name %>
          <%= link_to "Remove",
                        doses_delete_path(dose.id),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
                        </li>
          <% end %>
          <%= link_to('Agregar un ingrediente', new_cocktail_dose_path(@cocktail), class: "btn btn-success mt-3") %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


  





