<div class="container">
  <h1>Name: <%=@cocktail.name%></h1>
  <p>Ingredients</p>
  <ul>
    <% @cocktail.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
    <% end %>
  </ul>
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> - 
    <%= link_to "Remove",
                  doses_delete_path(dose.id),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
                  </li>
    <% end %>
  </ul>



<%= link_to('Add a dose', new_cocktail_dose_path(@cocktail), class: "btn btn-outline-primary") %>
<%= link_to('Back to the list', cocktails_path, class: "btn btn-outline-secondary") %>

</div>