<nav class="navbar navbar-dark bg-dark">
  <div class="left-navbar">
    <%= image_tag "main-avatar.jpg", class: "avatar-large" %>
    <span class = "navbar-brand font-weight-bold">TIENDA DEL CHAVO</span>
  </div>
  <div class="right-navbar">
    <%= link_to('Añadir un refresco', new_cocktail_path, class: "btn btn-outline-info") %>
    <%= link_to('Volver a la lista', cocktails_path, class: "btn btn-outline-secondary") %>
  </div>
</nav>

<div class="card-category img-fluid" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
  <h1><%=@cocktail.name%></h1>
</div>

<div class="container mt-4 text-success bg-light">
  <div class="row">
    <div class="col-7">
      <h3 class=" font-weight-bold">Descripción</h3>
      <p class="font-italic">Refresco de limón, que sabe a tamarindo pero es naranja</p>
    </div>
    <div class="col-5">
      <h3 class=" font-weight-bold">Ingredientes</h3>
      <ul class="list-unstyled">
      <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description %> - <%= dose.ingredient.name %>
      <%= link_to "Remove",
                    doses_delete_path(dose.id),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
                    </li>
      <% end %>
      <%= link_to('Agregar un ingrediente', new_cocktail_dose_path(@cocktail), class: "btn btn-success mt-3") %>
      </ul>
    </div>
  </div>
</div>


  





