<nav class="navbar navbar-dark bg-dark">
  <%= image_tag "main-avatar.jpg", class: "avatar" %>
  <span class = "navbar-brand font-weight-bold">TIENDA DEL CHAVO</span>
  <div class="flats-options">
    <%= link_to('Añadir un refresco', new_cocktail_path, class: "btn btn-outline-info") %>
  </div>
</nav>

<div class="container">
  <% if @cocktail.photo.attached? %>
    <div class="row mb-3">
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center" style="height: 420px; background-size: cover; background-image: url('<%= cl_image_path @cocktail.photo.key, height: 420, width: 1080, crop: :fill %>')">
          <h1 style="font-size: 80px;"><%= @cocktail.name %></h1>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row mb-3">
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center" style="opacity: 40%; height: 420px; background-size: cover; background-image: url('<%= image_path "main-avatar.jpg", height: 420, width: 1080, crop: :fill %>')">
          <h1 style="font-size: 80px;"><%= @cocktail.name %></h1>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row mb-3">
    <div class="col-12">
      <%= simple_form_for(@dose, as: :dose, method: :post, url: cocktail_doses_path) do |f| %>
        <%= f.input :description, label: "Descripción" %>
        <%= f.association :ingredient, label: "Ingrediente" %>
        <%= f.button :submit, class: "btn btn-success" %>
        <%= link_to('Volver a la lista', cocktails_path, class: "btn btn-outline-secondary") %>
      <% end %>
    </div>
  </div>
</div>


